*
button {
    border: 2px solid #000;
    text-align: center;
    background-color: rgb(230, 216, 199);
    border-radius: 3px;
}
h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}
#contador {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 50px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.opcion1, .opcion2, .opcion3 {
    display: flex;
    border-bottom: 3px;
    width: 300px;
    height: 300px;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
}
